body{
    background-color: #F2EE72;
}

.div-caroussel{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 90px;
    height: 500px;
    width: 1300px;
}

.div-div-caroussel{
    border: 1.2rem #C45824 solid;
    border-radius: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    height: 500px;
    width: 1300px;
}

.titre1-caroussel, .p1-caroussel, .titre3-caroussel, .p3-caroussel{
    color: black;
}

.container-blabla{
    margin: 30px;
}
