body{
    background-color: #F2EE72;
}

.container-moncompte{
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: 40px;
    padding: 20px;
}
.titre-moncompte{
    text-align: center;
    margin-bottom: 20px;
}

.div-points{
    width: 950px;
    height: 155px;
    display: flex;
    justify-content: space-around;
}
.div-points span{
    
    background-color: white;
    border-radius: 80px;
    text-align: center;
    width: 155px;
    height: 155px;
    font-family: cursive;
    background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)), url("../Images/fruits\ et\ legumes.jpg");
    color: white;
}

.div-border{
    background-color: white;
    width: 900px;
    margin-top: 50px;
    margin-bottom: 30px;
    height: 400px;
}

.parainage{
    background-color: #F2EE72;
    border-radius: 90px;
}

.parainage h2{
    text-align: center;
    margin-bottom: 30px;
}

.parainage h3{
    text-align: center;
    margin-bottom: 30px;
}

.div-parainage{
    margin-bottom: 30px;
    display: flex;
    justify-content: space-around;
}

.div-parainage span{
    border: #433E0E solid;
    background-color: white;
    width: 200px;
    height: 70px;
    text-align: center;
    border-radius: 50px;
}

.p1-parainage{
    margin-left: 25px;
}

.email-parainage{
    width: 850px;
    margin-left: 25px;
    margin-bottom: 30px;
}

.bouton-envoyer{
    --bs-btn-color: #fff;
    --bs-btn-bg: #C45824;
    --bs-btn-hover-color: black;
    --bs-btn-hover-bg: #0brgb(179, 29, 29);
    --bs-btn-hover-border-color: #433E0E;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: black;
    --bs-btn-active-bg: #433E0E;
    --bs-btn-active-border-color: #433E0E;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #0d6efd;
    --bs-btn-disabled-border-color: #0d6efd;
    width: 200px;
    
    margin-left: 325px;
}

.p2-parainage{
    margin-left: 50px;
}


