body{
    background-color: #F2EE72;
}

#signupform{
    background-color: #f4efed;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 330px;
    width: 60%;
    height:500px;
    position: relative;
    align-items: center;
    height: 850px;
    border-radius: 10px;
    border: 1px #433E0E solid;
}

h2{
    height: 35px;
    color:#0e0e0e;
    margin-top: 35px;
    margin-left: 350px;
    padding-top: 20px;
}

p{
    margin-left: 250px;
}

#createaccount{
    color: #0e0e0e;
    position: relative;
    margin-left: 120px;
    margin-top: 60px;
}

#gotanaccount{
    display: inline-block;
    position: absolute;
    color:#C45824;
    margin-top: 30px;
    margin-left: 250px;
}

#gotanaccount:hover{
    color:#4b2917;
}

#signup-btn{
    display: flex;
    margin-top: 18px;
    margin-left: 290px;
}

#form1, #form2, #form3, #form4, #form5, #form6{
    border-radius: 10px;
    border: 1px #433E0E solid;
    height: 35px;
    margin-left: 250px;
}

.text-center{
    --bs-btn-color: #fff;
    --bs-btn-bg: #C45824;
    --bs-btn-hover-color: black;
    --bs-btn-hover-bg: #0brgb(179, 29, 29);
    --bs-btn-hover-border-color: #433E0E;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: black;
    --bs-btn-active-bg: #433E0E;
    --bs-btn-active-border-color: #433E0E;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #0d6efd;
    --bs-btn-disabled-border-color: #0d6efd;
}

.text-center:hover{
    background-color: #F2EE72;
    color: black;
}