body{
    background-color: #F2EE72;
}

#signupform{
    background-color: #f4efed;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 550px;
    width: 30%;
    height:500px;
    border-radius: 15px;
    position: relative;
    align-items: center;
    height: 850px;
    border-radius: 10px;
    border: 10px;
}

h2{
    height: 35px;
    color:#0e0e0e;
    margin-top: 35px;
    margin-left: 100px;
    padding-top: 40px;
    padding-bottom:10px;
}

#createaccount{
    color: #0e0e0e;
    position: relative;
    margin-left: 120px;
    margin-top: 60px;
}

#gotanaccount{
    display: inline-block;
    position: absolute;
    color:#C45824;
    margin-top: 30px;
}

#gotanaccount:hover{
    color:white;
}

#signup-btn{
    display: flex;
    margin-top: 18px;
    margin-left: 40px;
}

#form1, #form2, #form3, #form4, #form5, #form6{
    border-radius: 10px;
    border: 10px;
    height: 35px;
}