body{
    background-color: #F2EE72;
}

.container-moncompte{
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: 40px;
    padding: 20px;
}

.titre-moncompte{
    text-align: center;
    margin-bottom: 20px;
}

.div-menu-gauche{
    
}

.menu-gauche{
    
}