body{
    background-color: #F2EE72;
}

h2{
    height: 35px;
    display: flex;
    position: absolute;
    color:#0e0e0e;
    margin-top: 25px;
    text-align: center;
}

#oublimdp{
    display: flex;
    justify-content: center;
    background-color: #f4efed;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 550px;
    width: 30%;
    height:270px;
    border-radius: 15px;
    position: relative;
}

#oublimdpform{
    margin-top: 150px;
    align-items: center;
}

#oublimdpemail{
    height: 30px;
    border-radius: 10px;
    width: 100%;
    border: 10px;
    display: inline-block;
    margin-right: 40px;
}

#login-btn{
    position: absolute;
    margin-left: 65px;
    margin-top: 5px;
}