body{
    background-color: #F2EE72;
}

h2{
    height: 35px;
    display: flex;
    position: absolute;
    color:#0e0e0e;
    margin-top: 25px;
    text-align: center;
}

#oublimdp{
    display: flex;
    justify-content: center;
    background-color: #f4efed00;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 550px;
    width: 30%;
    height:270px;
    border-radius: 90px;
    border: 2px #433E0E solid;
    position: relative;
}

#oublimdpform{
    margin-top: 150px;
    align-items: center;
}

#oublimdpemail{
    height: 30px;
    border-radius: 10px;
    width: 100%;
    border-radius: 10px;
    border: 1px #beba96 solid;
    display: inline-block;
    margin-right: 40px;
}

#login-btn{
    position: absolute;
    margin-left: 65px;
    margin-top: 5px;
}

.text-center{
    --bs-btn-color: #fff;
    --bs-btn-bg: #C45824;
    --bs-btn-hover-color: black;
    --bs-btn-hover-bg: #0brgb(179, 29, 29);
    --bs-btn-hover-border-color: #433E0E;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: black;
    --bs-btn-active-bg: #433E0E;
    --bs-btn-active-border-color: #433E0E;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #0d6efd;
    --bs-btn-disabled-border-color: #0d6efd;
}
.text-center:hover{
    background-color: #F2EE72;
    color: black;
}