body{
    background-color: #F2EE72;
    margin: 0;
    padding: 0;
}
#cart{
    display: flex;
    width: 1200px;
    height: 680px;
    margin-left: 150px;
    border-radius: 20px;
    box-shadow: 0px 25px 40px #1687d933;
    margin-top: 45px;
    margin-bottom: 45px;
    background-color: #f2f2f2;
    /* border: 1px solid #C45824; */
    /* background: linear-gradient(to bottom right, #ffffff, #fbccb4); */
}
/* .cartheader{
    margin: auto;
    width: 90%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 20px;
    position: relative;
}
.panier{
    font-size: 25px;
    color: #000000;
    /* display: flex;
    justify-self: flex-start;
}
.delete{
    font-size: 14px;
    color: #C45824;
    border-bottom: 1px solid #C45824;
    /* display: flex;
    justify-self: flex-start; 
}

.itembox{
    margin-left: 500px;
    width: 100%;
    position: absolute;
    float: left;
}
.imagebox{
    display: flex;
    width: 15%;
    height: 120px;
    position: absolute;
}*/
#applejuice{
    padding-top: 5px;
    font-size: 18px;
    color: #202020;
    margin-left: 38px;
}
#ml{
    margin-left: 38px;
    font-size: 14px;
    color: #909090;
}
.about{
    display: flex;
    justify-content: center;
}

.img{
    margin-left: 40px;
}

#tabletitles{
    margin-left: 40px;
}

#article{
    display: flex;
    margin-left: 70px;
}

.th2{
    margin-top: 20px;
}

/* .table {
    border-collapse: separate;
    border-spacing:0 20px;
}

#tabletitles{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-left: 80px;
}

.tablerow{
    display: flex;
    justify-content: space-between;
    width: 90%;
}

table tr td, table tr th{
    background-color: rgba(255, 255, 255, 0) !important;
} */

   /* .btn{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #C45824;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #202020;
} */
