body{
    background-color: #F2EE72;
    margin: 0;
    padding: 0;
}
#cart{
    width: 1200px;
    height: 600px;
    margin-left: 150px;
    border-radius: 20px;
    box-shadow: 0px 25px 40px #1687d933;
    margin-top: 45px;
    margin-bottom: 45px;
    /* border: 1px solid #C45824; */
    background: linear-gradient(to bottom right, #ffffff, #fbccb4);
}
.cartheader{
    margin: auto;
    width: 90%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.panier{
    font-size: 25px;
    color: #000000;
    display: flex;
    justify-self: start;
}
.delete{
    font-size: 14px;
    color: #C45824;
    border-bottom: 1px solid #C45824;
}

.itembox{
    margin-left: 500px;
    width: 20%;
}
.imagebox{
    width: 15%;
    text-align: center;
    height: 120px;
}
#applejuice{
    padding-top: 5px;
    font-size: 18px;
    color: #202020;
    margin-left: 23px;
}
#ml{
    margin-left: 23px;
    font-size: 14px;
    color: #909090;
}
.about{
    display: flex;
    justify-content: center;
}