body {
    background: #F2EE72; 
}

#maindiv{
    margin-bottom: 30px;
}

.card-img { 
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.toto{
    height: 348px;
    display: flex;
    justify-content: center;
}
.toto img{
    height: 100%;
    width: auto;
}
.card-body h5 { 
   
    text-align: center;
    font-size:  35px;

}

.card-body p {
    text-align: center;
    font-size:  15px;
}


div {
    padding: 10px;
    /* margin-top: 25px; */
}
.card-footer button {

    margin: 20px; 
    background: #C45824;
    border-radius: 10px;

}

.card-footer {
    margin: 10px;
    display:flex;
    justify-content: center;
}


.card-footer p {

    color: #433E0E;
    font-size: 30px;
    
}
.myBtn{
    background-color:#C45824;
    color: white;
    padding: 10px;
    margin: 20px;
    font-size: larger;
    
}

.myBtn:hover{
    background-color:#F2EE72;
    color:black

}