*{
    margin: 0;
    padding: 0;
}
a{
    color: #a1661d;
    text-decoration: none;
}

header{
    background-color: #a1661d;
    width: 100%;
}
#header1{
    display: flex;
    background-color: #a1661d;
    justify-content: space-between;
    padding: 5px 8px;
    position: relative;
}

#headericons{
    padding:20px;
}

#logo{
    margin-top: 12px;
}

#header2{
    display: flex;
    justify-content: left;
    margin: 5px;
    padding:10px;
    border-top: thick double #d0b38e;
}

#header2 div button{
    padding: 10px;
}

#avataricon{
    margin-right:30px;
}

#searchbar{
    display: flex;
    width:730px;
    margin-left: -250px;
    margin-top:35px;
    height: 30px;
    border-radius:15px;
    text-align: center;
    opacity: 50%;
    justify-content: flex-start;    
}

#magglass{
    margin-top: 43px;
    margin-left: -40px;
}

#peppers{
    display: flex;
    margin-left: 45px;
    justify-content: space-around;
    width: 100%;
}

#headerbuttons{
    display: flex;
    width: 940px;
    justify-content: right;
}

#btn1{
    margin-right:5px;
}

#btn2{
    margin-right:5px;
}

nav{
    display: flex;
    justify-content: space-between;
}

button{
    padding: 5px;    
}

footer{
    display: flex;
    background-color: black;
    color:rgb(215, 220, 178);
    width: 100%;
    margin: auto;
    justify-content: center;
}
#footerlists{
    display:flex;
    justify-content: center;
    margin-top: 30px;
}
footer a{
    color: #F2EE72;
    text-decoration: none;
}
#footericons{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-end;
    width: 23%;
    margin-left:210px;
    margin-bottom: 10px;
}
footer p{
    align-self: flex-end;
}
.bulletless{
    list-style-type: none;
}